body {
  font: 10px sans-serif;
}

#wrap {
  width: 730px;
  height: 
  margin: 0 auto;
}
.legend text {
  font-size: 12px;
  font-weight: bold;
  -webkit-transition: fill-opacity 0.6s;
  -moz-transition: fill-opacity 0.6s;
  -o-transition: fill-opacity 0.6s;
  transition: fill-opacity 0.6s;
}

.axis {
  shape-rendering: crispEdges;
}
.axis text {
  fill: #303030;
}

.axis line,
.axis path {
  fill: none;
  stroke-width: 1px;
  stroke: #999;
}

.line {
  fill: none;
  stroke-width: 1.5px;
  -webkit-transition: stroke-opacity 0.6s;
  -moz-transition: stroke-opacity 0.6s;
  -o-transition: stroke-opacity 0.6s;
  transition: stroke-opacity 0.6s;
}
.annotation {
  -webkit-transition: fill-opacity 1.3s;
  -moz-transition: fill-opacity 1.3s;
  -o-transition: fill-opacity 1.3s;
  transition: fill-opacity 1.3s;
  font-size: 13px;
}

circle.line {
  fill: #fff;
}
.step {
  border-radius: 4px;
  padding: 4px 6px;
  background: #eee;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.step:hover {
  background: #999;
  color: #fff;
}
.step.active {
  background: #444;
  color: #fff;
}
#sidebar-notes {
  font-size: 14px;
  overflow: visible;
}
.chart-data-sources {
  float: right;
  margin-right: 12px;
  color: #666;
}
.column-50 {
  float: left;
  width: 50%;
}
#section-sources {
  font-size: 13px;
}
#section-sources h2 {
  margin-bottom: 0px;
  padding-bottom: 0px;
}
#section-sources h3 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}
#section-sources p {
  margin-top: 8px;
  padding-top: 0px;
}
